/* titap editor wrapper styles */
.task-description-input {
  flex-basis: 80px;
  overflow-y: auto;
}

/* actual editor will take the full height of its parent wrapper */
.tiptap {
  height: 100%;
}

/* no outline when focused within the tiptap editor */
.tiptap:focus {
  outline: none;
}

/* Display a placeholder for empty editor */
/* .is-eidtor-empty class is given by the Placeholder extension */
.tiptap .is-editor-empty::before {
  content: attr(data-placeholder);
  color: #999;
  float: left;
  height: 0;
  pointer-events: none;
}

/* all the mentions style => within editor + without editor */
.mention {
  background-color: #fef3c7;
  color: #b45309;
  padding: 2px 6px;
  border-radius: 6px;
  font-weight: 400;
  line-height: 1.7;
}
